$wdTp: 80%;
$disp: flex;
$topBarColor: #dfe6e9; 

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    background-color: $topBarColor;
}

body::-webkit-scrollbar-thumb{
    background-color: #e60023;
    height: 1px;
    border-radius: 50px;
}

.contenedor{
    display: $disp;
    height: 200vh;
    width: 100vw;
    background-color: #b2bec3;
    flex-flow: column;
    position: absolute;
    #topBar{
        display: $disp;
        width: 100vw;
        height: 9%;
        background-color: #dfe6e9;
        align-items: center;
        position: fixed;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        .logo{
            display: $disp;
            width: 1%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            .boxImage{
                display: $disp;
                height: 70%;
                width: 90%;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                &:hover{
                    background-color: rgb(184, 182, 182);
                    cursor: pointer;
                    transition: 0.4s ease;
                }
                .pinter{
                    fill: #e60023;
                }
            }
        }
        .inicio{
            display: $disp;
            width: 3%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            .textInicio{
                display: $disp;
                width: 80%;
                height: 80%;
                color: black;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                background-color: $topBarColor;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 182, 182);
                    transition: 0.4s ease;
                }
            }
        }
        .hoy{
            display: $disp;
            width: 3%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            .textHoy{
                display: $disp;
                width: 80%;
                height: 80%;
                color: black;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                background-color: $topBarColor;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 182, 182);
                    transition: 0.4s ease;
                }
            }
            
        }
        .siguiendo{
            display: $disp;
            width: 5%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            .textSiguiendo{
                display: $disp;
                width: 80%;
                height: 80%;
                color: black;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                background-color: $topBarColor;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 182, 182);
                    transition: 0.4s ease;
                }
            }
        }
        .busqueda{
            display: $disp;
            width: 65%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 2;
            justify-content: center;
            align-items: center;
            .bloqueGrande{
                display: $disp;
                width: 100%;
                height: 70%;
                background-color: #fff;
                border-radius: 50px;
                justify-content: flex-start;
                align-items: center;
                .lupa{
                    margin-left: 1%;
                    fill: rgb(184, 182, 182);
                }
                .textBusqueda{
                    background-color: transparent;
                    height: 100%;
                    width: 100%;
                    border-radius: 60px;
                    border: 5px solid transparent;
                    &:hover{
                        cursor: text;
                    }
                }
            }
        }
        .campana{
            display: $disp;
            width: 2%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            .boxCampana{
                display: $disp;
                width: 60%;
                height: 60%;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 182, 182);
                    transition: 0.4s ease;
                }
            }
        }
        .ajustes{
            display: $disp;
            width: 2%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            .boxAjustes{
                display: $disp;
                width: 60%;
                height: 60%;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 182, 182);
                    transition: 0.4s ease;
                }
            }
        }
        .perfil{
            display: $disp;
            width: 2%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            .boxPerfil{
                display: $disp;
                width: 60%;
                height: 60%;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                img{
                    border-radius: 50%;
                    height: 60%;
                    width: 60%;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 182, 182);
                    transition: 0.4s ease;
                }
            }
        }
        .cuentas{
            display: $disp;
            width: 1%;
            height: $wdTp;
            background-color: $topBarColor;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            .boxCuentas{
                display: $disp;
                width: 80%;
                height: 60%;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 182, 182);
                    transition: 0.4s ease;
                }
            }
        }
    }
    .cuerpo{
        display: $disp;
        height: auto;
        background-color: $topBarColor;
        justify-content: center;
        .cuerpoInt{
            display: $disp;
            width: 90%;
            height: auto;
            background-color: $topBarColor;
            justify-content: space-between;
            .columnas{
                margin-top: 4.5%;
                display: $disp;
                width: 13.5%;
                height: auto;
                background-color: $topBarColor;
                flex-flow: column;
                border-radius: 10px;
                justify-content: space-between;
                img{
                    margin-top: 5%;
                    border-radius: 20px;
                    cursor: zoom-in;
                }
            }
        }
    }

    #topBarCel{
        display: $disp;
        width: 100vw;
        height: 15%;
        background-color: #dfe6e9;
        align-items: center;
        position: fixed;
        flex-flow: column;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        display: none;
        .barraSup{
            display: $disp;
            height: 50%;
            width: 100%;
            background-color: $topBarColor;
            .buscador2{
                display: $disp;
                height: 100%;
                width: 80%;
                background-color: $topBarColor;
                align-items: center;
                justify-content: center;
                border-radius: 10%;
                .intern{
                    display: $disp;
                    height: 70%;
                    width: 95%;
                    background-color: #fff;
                    border-radius: 10px;
                    .lupi{
                        display: $disp;
                        height: 100%;
                        align-items: center;
                        margin-right: 2%;
                        margin-left: 2%;
                        fill: rgb(184, 182, 182);
                    }
                    .texttirrrus{
                        background-color: transparent;
                        height: 100%;
                        width: 100%;
                        border-radius: 60px;
                        border: 5px solid transparent;
                    }
                }
            }
            .mas{
                display: $disp;
                height: 100%;
                width: 10%;
                background-color: $topBarColor;
                .contMas{
                    display: $disp;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    fill: rgb(184, 182, 182);
                }
            }
            .burbuja2{
                display: $disp;
                height: 100%;
                width: 10%;
                background-color: $topBarColor;
                .contBur{
                    display: $disp;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    fill: rgb(184, 182, 182);
                }
            }
        }
        .barraInf{
            display: $disp;
            height: 50%;
            width: 100%;
            background-color: $disp;
            justify-content: start;
            .paraTi{
                display: $disp;
                justify-content: center;
                align-items: center;
                background-color: $disp;
                height: 100%;
                width: 50%;
                .textP{
                    display: $disp;
                    height: 100%;
                    width: 50%;
                    background-color: $disp;
                    justify-content: center;
                    align-items: center;
                    font-size: 120%;
                    font-weight: bold;
                    color: black;
                }
                .segT{
                    display: $disp;
                    height: 100%;
                    width: 50%;
                    background-color: $disp;
                    justify-content: center;
                    align-items: center;
                    font-size: 120%;
                    font-weight: bold;
                    color: black;
                }
            }
            .hoy2{
                display: $disp;
                justify-content: center;
                align-items: center;
                background-color: $topBarColor;
                height: 100%;
                width: 50%;
            }
        }
    }

    #piePagina{
        height: 8%;
        width: 100vw;
        background-color: #e0f5fdea;
        bottom: 0;
        position: fixed;
        display: none;
    }

    @media (max-width: 1100px) {
        #piePagina{
            display: initial;
            display: $disp;
            .inicioFooter{
                display: $disp;
                height: 100%;
                width: 20%;
                background-color: #e0f5fdea;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                .casa{
                    display: $disp;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                }
            }
            .siguiendoFooter{
                display: $disp;
                height: 100%;
                width: 20%;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                .personitas{
                    display: $disp;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column;
                }
            }
            .notificacionesFooter{
                display: $disp;
                height: 100%;
                width: 20%;
                flex-grow: 2;
                justify-content: center;
                align-items: center;
                .campanilla{
                    display: $disp;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column;
                }
            }
            .guardarFooter{
                display: $disp;
                height: 100%;
                width: 20%;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                .footirris{
                    display: $disp;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        #topBar{
            display: none;
            .campana{
                display: none;
            }
            .perfil{
                display: none;
            }
            .inicio{
                display: none;
            }
            .hoy{
                display: none;
            }
            .siguiendo{
                display: none;
            }
            .ajustes{
                display: none;
            }
            .busqueda{
                justify-content: start;
                .bloqueGrande{
                    margin-left: 2%;
                    width: 70%;    
                }
            }
            .logo{
                display: none;
            }
            .cuentas{
                display: none;
            }
        }

        #topBarCel{
            display: $disp;
        }
        .cuerpo{
            .cuerpoInt{
                .columnas{
                    width: 49%;
                    &.uno{
                        transition: 0.5s ease;
                        margin-top: 30%;
                    }
                    &.dos{
                        margin-top: 30%;
                        transition: 0.5s ease;
                    }
                    &.tres{
                        display: none;
                    }
                    &.cuatro{
                        display: none;
                    }
                    &.cinco{
                        display: none;
                    }
                    &.seis{
                        display: none;
                    }
                    &.siete{
                        display: none;
                    }
                }
            }
        }
    }
}