* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #dfe6e9;
}

body::-webkit-scrollbar-thumb {
  background-color: #e60023;
  height: 1px;
  border-radius: 50px;
}

.contenedor {
  display: flex;
  height: 200vh;
  width: 100vw;
  background-color: #b2bec3;
  flex-flow: column;
  position: absolute;
}
.contenedor #topBar {
  display: flex;
  width: 100vw;
  height: 9%;
  background-color: #dfe6e9;
  align-items: center;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.contenedor #topBar .logo {
  display: flex;
  width: 1%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.contenedor #topBar .logo .boxImage {
  display: flex;
  height: 70%;
  width: 90%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.contenedor #topBar .logo .boxImage:hover {
  background-color: #b8b6b6;
  cursor: pointer;
  transition: 0.4s ease;
}
.contenedor #topBar .logo .boxImage .pinter {
  fill: #e60023;
}
.contenedor #topBar .inicio {
  display: flex;
  width: 3%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.contenedor #topBar .inicio .textInicio {
  display: flex;
  width: 80%;
  height: 80%;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #dfe6e9;
}
.contenedor #topBar .inicio .textInicio:hover {
  cursor: pointer;
  background-color: #b8b6b6;
  transition: 0.4s ease;
}
.contenedor #topBar .hoy {
  display: flex;
  width: 3%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.contenedor #topBar .hoy .textHoy {
  display: flex;
  width: 80%;
  height: 80%;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #dfe6e9;
}
.contenedor #topBar .hoy .textHoy:hover {
  cursor: pointer;
  background-color: #b8b6b6;
  transition: 0.4s ease;
}
.contenedor #topBar .siguiendo {
  display: flex;
  width: 5%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.contenedor #topBar .siguiendo .textSiguiendo {
  display: flex;
  width: 80%;
  height: 80%;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #dfe6e9;
}
.contenedor #topBar .siguiendo .textSiguiendo:hover {
  cursor: pointer;
  background-color: #b8b6b6;
  transition: 0.4s ease;
}
.contenedor #topBar .busqueda {
  display: flex;
  width: 65%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}
.contenedor #topBar .busqueda .bloqueGrande {
  display: flex;
  width: 100%;
  height: 70%;
  background-color: #fff;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
}
.contenedor #topBar .busqueda .bloqueGrande .lupa {
  margin-left: 1%;
  fill: #b8b6b6;
}
.contenedor #topBar .busqueda .bloqueGrande .textBusqueda {
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 60px;
  border: 5px solid transparent;
}
.contenedor #topBar .busqueda .bloqueGrande .textBusqueda:hover {
  cursor: text;
}
.contenedor #topBar .campana {
  display: flex;
  width: 2%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.contenedor #topBar .campana .boxCampana {
  display: flex;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.contenedor #topBar .campana .boxCampana:hover {
  cursor: pointer;
  background-color: #b8b6b6;
  transition: 0.4s ease;
}
.contenedor #topBar .ajustes {
  display: flex;
  width: 2%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.contenedor #topBar .ajustes .boxAjustes {
  display: flex;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.contenedor #topBar .ajustes .boxAjustes:hover {
  cursor: pointer;
  background-color: #b8b6b6;
  transition: 0.4s ease;
}
.contenedor #topBar .perfil {
  display: flex;
  width: 2%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.contenedor #topBar .perfil .boxPerfil {
  display: flex;
  width: 60%;
  height: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.contenedor #topBar .perfil .boxPerfil img {
  border-radius: 50%;
  height: 60%;
  width: 60%;
}
.contenedor #topBar .perfil .boxPerfil:hover {
  cursor: pointer;
  background-color: #b8b6b6;
  transition: 0.4s ease;
}
.contenedor #topBar .cuentas {
  display: flex;
  width: 1%;
  height: 80%;
  background-color: #dfe6e9;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.contenedor #topBar .cuentas .boxCuentas {
  display: flex;
  width: 80%;
  height: 60%;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}
.contenedor #topBar .cuentas .boxCuentas:hover {
  cursor: pointer;
  background-color: #b8b6b6;
  transition: 0.4s ease;
}
.contenedor .cuerpo {
  display: flex;
  height: auto;
  background-color: #dfe6e9;
  justify-content: center;
}
.contenedor .cuerpo .cuerpoInt {
  display: flex;
  width: 90%;
  height: auto;
  background-color: #dfe6e9;
  justify-content: space-between;
}
.contenedor .cuerpo .cuerpoInt .columnas {
  margin-top: 4.5%;
  display: flex;
  width: 13.5%;
  height: auto;
  background-color: #dfe6e9;
  flex-flow: column;
  border-radius: 10px;
  justify-content: space-between;
}
.contenedor .cuerpo .cuerpoInt .columnas img {
  margin-top: 5%;
  border-radius: 20px;
  cursor: zoom-in;
}
.contenedor #topBarCel {
  display: flex;
  width: 100vw;
  height: 15%;
  background-color: #dfe6e9;
  align-items: center;
  position: fixed;
  flex-flow: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: none;
}
.contenedor #topBarCel .barraSup {
  display: flex;
  height: 50%;
  width: 100%;
  background-color: #dfe6e9;
}
.contenedor #topBarCel .barraSup .buscador2 {
  display: flex;
  height: 100%;
  width: 80%;
  background-color: #dfe6e9;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}
.contenedor #topBarCel .barraSup .buscador2 .intern {
  display: flex;
  height: 70%;
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
}
.contenedor #topBarCel .barraSup .buscador2 .intern .lupi {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 2%;
  margin-left: 2%;
  fill: #b8b6b6;
}
.contenedor #topBarCel .barraSup .buscador2 .intern .texttirrrus {
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 60px;
  border: 5px solid transparent;
}
.contenedor #topBarCel .barraSup .mas {
  display: flex;
  height: 100%;
  width: 10%;
  background-color: #dfe6e9;
}
.contenedor #topBarCel .barraSup .mas .contMas {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: #b8b6b6;
}
.contenedor #topBarCel .barraSup .burbuja2 {
  display: flex;
  height: 100%;
  width: 10%;
  background-color: #dfe6e9;
}
.contenedor #topBarCel .barraSup .burbuja2 .contBur {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  fill: #b8b6b6;
}
.contenedor #topBarCel .barraInf {
  display: flex;
  height: 50%;
  width: 100%;
  background-color: flex;
  justify-content: start;
}
.contenedor #topBarCel .barraInf .paraTi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: flex;
  height: 100%;
  width: 50%;
}
.contenedor #topBarCel .barraInf .paraTi .textP {
  display: flex;
  height: 100%;
  width: 50%;
  background-color: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-weight: bold;
  color: black;
}
.contenedor #topBarCel .barraInf .paraTi .segT {
  display: flex;
  height: 100%;
  width: 50%;
  background-color: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-weight: bold;
  color: black;
}
.contenedor #topBarCel .barraInf .hoy2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfe6e9;
  height: 100%;
  width: 50%;
}
.contenedor #piePagina {
  height: 8%;
  width: 100vw;
  background-color: #e0f5fdea;
  bottom: 0;
  position: fixed;
  display: none;
}
@media (max-width: 1100px) {
  .contenedor #piePagina {
    display: initial;
    display: flex;
  }
  .contenedor #piePagina .inicioFooter {
    display: flex;
    height: 100%;
    width: 20%;
    background-color: #e0f5fdea;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .contenedor #piePagina .inicioFooter .casa {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor #piePagina .siguiendoFooter {
    display: flex;
    height: 100%;
    width: 20%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .contenedor #piePagina .siguiendoFooter .personitas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .contenedor #piePagina .notificacionesFooter {
    display: flex;
    height: 100%;
    width: 20%;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
  }
  .contenedor #piePagina .notificacionesFooter .campanilla {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .contenedor #piePagina .guardarFooter {
    display: flex;
    height: 100%;
    width: 20%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  .contenedor #piePagina .guardarFooter .footirris {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor #topBar {
    display: none;
  }
  .contenedor #topBar .campana {
    display: none;
  }
  .contenedor #topBar .perfil {
    display: none;
  }
  .contenedor #topBar .inicio {
    display: none;
  }
  .contenedor #topBar .hoy {
    display: none;
  }
  .contenedor #topBar .siguiendo {
    display: none;
  }
  .contenedor #topBar .ajustes {
    display: none;
  }
  .contenedor #topBar .busqueda {
    justify-content: start;
  }
  .contenedor #topBar .busqueda .bloqueGrande {
    margin-left: 2%;
    width: 70%;
  }
  .contenedor #topBar .logo {
    display: none;
  }
  .contenedor #topBar .cuentas {
    display: none;
  }
  .contenedor #topBarCel {
    display: flex;
  }
  .contenedor .cuerpo .cuerpoInt .columnas {
    width: 49%;
  }
  .contenedor .cuerpo .cuerpoInt .columnas.uno {
    transition: 0.5s ease;
    margin-top: 30%;
  }
  .contenedor .cuerpo .cuerpoInt .columnas.dos {
    margin-top: 30%;
    transition: 0.5s ease;
  }
  .contenedor .cuerpo .cuerpoInt .columnas.tres {
    display: none;
  }
  .contenedor .cuerpo .cuerpoInt .columnas.cuatro {
    display: none;
  }
  .contenedor .cuerpo .cuerpoInt .columnas.cinco {
    display: none;
  }
  .contenedor .cuerpo .cuerpoInt .columnas.seis {
    display: none;
  }
  .contenedor .cuerpo .cuerpoInt .columnas.siete {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
